<%= render 'pages/home' unless user_signed_in? %>

  <%= form_tag pins_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-info btn-block" %>
  <% end %>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <p><%= pin.description %></p>
        <p><strong><%= link_to pin.user.username, user_page_path(pin.user.id) %></strong></p>
        <p><%= pluralize(pin.likes.count, "like") %></p>
          <span class="glyphicon glyphicon-heart"></span>

        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to edit_pin_path(pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <%= link_to 'Like', like_pin_path(pin), method: :post, class: 'pull-right' %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
