<%= link_to 'Back', pins_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @pin.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p><strong><%= @pin.user.username %></strong></p>
        <p><%= @pin.description %></p>
        <p><%= link_to "Get", @pin.link, class: "btn btn-sm btn-success" %></p>  
        <% if @pin.user == current_user %>
          <%= link_to edit_pin_path(@pin) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Start of comments -->
  <% if current_user %>
    <%= render 'comments/comment_form' %>
  <% end %>
  <div class="col-md-offset-2 col-md-8">
    <div id="comments" data-pin-id="<%= @pin.id %>">
      <%= render @pin.comments %>
    </div>
  </div>
  <!-- End of comments -->
</div>
