<div class="user-profile">
  <span class="profile-username"><%= @user.username %></span>

  <% if @user != current_user %>
    <% if current_user_is_following(current_user.id, @user.id) %>
      <%= link_to 'Unfollow', unfollow_user_path(@user.username), remote: true, class: 'btn btn-sm unfollow-button', id: 'unfollow-button', method: :post %>
    <% else %>
      <%= link_to 'Follow', follow_user_path(@user.username), remote: true, class: 'btn btn-sm follow-button', id: 'follow-button', method: :post %>
    <% end %>
    <% else %>
    <%= link_to "Edit", edit_user_registration_path, class: 'btn btn-info btn-sm' %>
  <% end %>

  <div>
    <div class="profile-soc">
      <span class="profile-follow"><%= @user.pins.count %> <%= 'pin'.pluralize(@user.pins.count)%></span>
      <span class="profile-follow"><%= link_to "#{@user.followers.count} followers".pluralize(@user.followers.count), followers_user_path %></span>
      <span class="profile-follow"><%= link_to "#{@user.following.count} following", following_user_path %></span>
    </div>
    <p><%= @user.bio %></p>
  </div>
</div>

<div id="pins" class="transitions-enabled">
  <% @user.pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <p><%= pin.description %></p>
        <p><strong><%= link_to pin.user.username if pin.user %></strong></p>
        <p><%= pluralize(pin.likes.count, "like") %></p>
          <span class="glyphicon glyphicon-heart"></span>

        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to edit_pin_path(pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <%= link_to 'Like', like_pin_path(pin), method: :post, class: 'pull-right' %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
