<!DOCTYPE html>
<html>
<head>
  <title>Treasurably</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<%= render 'layouts/header' %>
	<div class="container">
    <%= search_form_for @q, html: {class: "gl-search" } do |f| %>
      <%= f.search_field :description_or_user_username_cont, class: "form-control", placeholder: "Search..." %>
    <% end %>

		<% flash.each do |name, msg| %>
     	<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>

</body>
</html>
